# The 'KEY' of the 'AUTH TOKEN' of the user. Note, add the user to the Enforces and Operators.
TOKEN_KEY=
PARKKI_HOST=https://testiparkki.turku.fi
PARKKI_HTTP_HOST=http://testiparkki.turku.fi
PARKKIOPAS_HOST=https://testiparkkiopas.turku.fi/public/v1/parking_area_statistics/
TEST_DOMAIN=TKU
TEST_PAYMENT_ZONE_NUMBER=1 
TEST_EXTERNAL_ID=4242
TEST_PERMIT_SERIES_ID=13
TEST_PERMIT_AREA_NAME_1=A
TEST_PERMIT_AREA_NAME_2=B